body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: rgb(244, 244, 244);
}

h1 {
    color: rgb(46, 46, 46);
    margin: .65rem;
}

h2 {
    color: rgb(46, 46, 46);
    margin: .65rem;
}
p {
    margin: 1.5rem;
}
img {
    float: left;
    border: 2px;
    margin: .65rem;
    max-width: 100%;
}

hr {
    border:1px dashed rgb(46, 46, 46);
}