body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: rgb(244, 244, 244);
}

h1 {
    color: rgb(46, 46, 46);
    margin: 1.2rem;
    text-transform: uppercase;
    font-family: Vend Sans, sans-serif;
}

h2 {
    color: rgb(46, 46, 46);
    margin: .65rem;
}
p {
    margin: 1.5rem;
    line-height: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    float: left;
    border: 2px;
    margin: .65rem;
    max-width: 100%;
}

hr {
    border:1px dashed rgb(46, 46, 46);
}

a:link {
    color: rgb(169, 3, 3);
    text-decoration:none;
}

a:visited {
    color: #1b03a1;
}

a:hover {
    color: #d9013e;
    text-decoration: underline;
}

a:active {
    color: rgb(11, 1, 209)
}